In [1]:
%matplotlib inline
import math  # 標準のmathモジュール

import numpy as np  # NumPy
import pandas as pd  # Pandas

from matplotlib import pylab as plt  # Matplotlib

# matplotlibで日本語表示する為の指定
import japanize_matplotlib

In [2]:
# プロ野球選手
baseball = pd.read_csv('../../9_data/プロ野球/プロ野球選手身長体重.csv')

# Jリーグ選手
soccer = pd.read_csv('../../9_data/サッカー/Jリーグ選手身長体重.csv')

# 力士
sumou = pd.read_csv('../../9_data/相撲/力士身長体重.csv')

In [3]:
def corr(x, y):
    """
    相関係数を求める
    :param x: 標本x
    :param y: 標本y
    :return: 相関係数
    """
    return np.cov(x, y)[0][1] / (np.std(x, ddof=1) * np.std(y, ddof=1))


pd.DataFrame({'相関係数': [
    corr(baseball['身長'], baseball['体重']),
    corr(soccer['身長'], soccer['体重']),
    corr(sumou['身長'], sumou['体重'])
]}, index=['野球', 'サッカー', '相撲'])

          相関係数
野球    0.660139
サッカー  0.831234
相撲    0.387553

In [4]:
from scipy.stats import pearsonr

pearsonr(soccer['身長'], soccer['体重'])[0]

0.831233599481403

In [5]:
olympic = pd.read_csv('../../9_data/陸上/100メートル走記録繊維男子.csv')
olympic.head()

      年    タイム   風速                選手        国       場所          日付
0  1964  10.06  1.1            ボブ・ヘイズ  アメリカ合衆国       東京  1964-10-15
1  1968  10.03  0.9           ジム・ハインズ  アメリカ合衆国   サクラメント  1968-06-20
2  1968  10.02  2.0  チャールズ・エドワード・グリーン  アメリカ合衆国  メキシコシティ  1968-10-13
3  1968   9.95  0.3           ジム・ハインズ  アメリカ合衆国  メキシコシティ  1968-10-14
4  1972  10.07  0.0         ワレリー・ボルゾフ   ソビエト連邦    ミュンヘン  1972-08-31

In [6]:
# 正解例

def corr(x, y):
    """
    相関係数を求める
    :param x: 標本x
    :param y: 標本y
    :return: 相関係数
    """
    return np.cov(x, y)[0][1] / (np.std(x, ddof=1) * np.std(y, ddof=1))


corr(olympic['年'], olympic['タイム'])

-0.8942951137578278