In [1]:
%matplotlib inline
import math  # 標準のmathモジュール

import numpy as np  # NumPy
import pandas as pd  # Pandas

from matplotlib import pylab as plt  # Matplotlib

# matplotlibで日本語表示する為の指定
import japanize_matplotlib

In [2]:
baseball = pd.read_csv('../../9_data/プロ野球/プロ野球選手身長体重.csv')
baseball['BMI'] = baseball['体重'] / (baseball['身長'] / 100) ** 2
baseball.head(3)

  チーム  背番号     氏名        生年月日   身長  体重  投  打        BMI
0  広島   11  福井　優也  1988.02.08  178  85  右  右  26.827421
1  広島   12  九里　亜蓮  1991.09.01  187  92  右  右  26.309017
2  広島   13  加藤　拓也  1994.12.31  176  88  右  右  28.409091

In [3]:
def sample_std(x):
    """
    標本標準偏差を求める
    :param x: 標本
    :return: 標本標準偏差
    """
    # 平均
    mu = np.mean(x)

    # 標本標準偏差
    sigma = 0.0

    # 要素数
    n = len(x)

    # 平均と要素の差を取って2乗する
    for i in range(n):
        sigma += (x[i] - mu) ** 2

    # 要素数 - 1で割る
    sigma /= (n - 1)

    # これが標本標準偏差の2乗になる
    # 最後に平方根を取れば標本標準偏差になる
    return np.sqrt(sigma)


# 野球のBMI標本標準偏差
baseball_std = sample_std(baseball['BMI'])

pd.DataFrame({'標本標準偏差': [baseball_std]}, index=['野球'])

      標本標準偏差
野球  2.178952

In [4]:
std = np.std(baseball['BMI'])
sample_std = np.std(baseball['BMI'], ddof=1)
pd.DataFrame({'標準偏差': [std], '標本標準偏差': [sample_std]}, index=['野球'])

        標準偏差    標本標準偏差
野球  2.177626  2.178952

In [5]:
std = baseball['BMI'].std(ddof=0)
sample_std = baseball['BMI'].std()
pd.DataFrame({'標準偏差': [std], '標本標準偏差': [sample_std]}, index=['野球'])

        標準偏差    標本標準偏差
野球  2.177626  2.178952

In [6]:
# 正解例

n = 100
x = np.random.choice(baseball['BMI'], n)
pd.DataFrame({'標準偏差': [x.std(ddof=0)], '標本標準偏差': [x.std(ddof=1)]}, index=['野球'])

        標準偏差    標本標準偏差
野球  2.359607  2.371494